.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.textContainer {
  max-width: 800px; /* Limit text width */
  margin: 0 auto; /* Center the text */
  text-align: justify; /* Optional: Justifies text for better readability */
  padding: 20px; /* Adds some spacing */
}
